.image-circle {
    width:60px;
    height:60px;
    background-image: linear-gradient(#e20337, #c60188, #7700c3);
    border-width: 2px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
   
  }

  .mobile-image-circle{
    width:40px;
    height:40px;
    background-image: linear-gradient(#e20337, #c60188, #7700c3);
    border-width: 2px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
  }

  

  .dark-theme .p-datatable {
    background-color: #333; 
    color: #fff; 
}

.dark-theme .p-datatable thead th {
    background-color: #444; 
    color: white;
}

.dark-theme .p-datatable tbody tr {
    border-bottom: 1px solid #555; 
    color: white;
}

.dark-theme .p-datatable tbody tr:nth-child(even) {
    background-color: #3a3a3a; 
    color:rgb(177, 173, 173)
}

.dark-theme .p-datatable tbody tr:nth-child(odd) {
    background-color: #2a2a2a; 
    color:white
}
span{
  color:black
}
.dark-theme span{
  color:white
}
