.card{
    background-color:white;
    
    display: flex;
    border-radius: 8px;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
    /* padding-top: 20px; */
}

.card2{
    background-color: white;
   
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 300px;
    border-radius: 8px;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
    /* padding-top: 20px; */
}

.card3{
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* padding-top: 20px; */
}

.card4{
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* padding-top: 20px; */
}


li{
    font-size: 24px;
    
}
.report{
    text-align: center;
}
.dash-container{
    min-height: 100vh;
    height: 100%;
}

@media print {
    .hide-on-print {
        display: none;
    }
}